.parent{
  background-image: url(https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  text-align: center;
  color: rgb(14, 73, 84);
  height: 715px;
  padding-left: 35%;
  width: auto;
  font-style: italic;
  margin-top: -30px;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.child{
  width: 500px;
  text-align:center;

  
}
.list{
  background-color: brown;
  margin-top: 3px;
  bottom: 1px rgb(179, 152, 152);
  color: rgb(200, 192, 188);
  font-style: normal;
}
.button:hover{
  background-color: rgb(115, 237, 180);
  color: cornsilk;
}
.button{
  margin-block-end: auto;
  
}